<ion-view view-title="D&eacute;tails {{categorie}}">
  <ion-content>
<div class="list" id="tout"> 
<div class="item item-divider">
    D&eacute;tails de {{data[2]}} {{data[3]}}:
  </div>
  <form>
  <label ng-if="data[k] != '' && data[k] != v" class="item item-input" ng-repeat="(k,v) in label">
    <span class="input-label">{{v}} :</span>
    <input ng-model="data[k]" type="text" disabled="disabled" placeholder="{{v}}" ng-change="hydrate(data)">
  </label>
  <!--<label class="item item-input">
    <div class="padding item item-input">
		<button type="button" class="button button-block button-positive" id="submit" ng-click="submitForm(data)">Valider</button>
	</div>
  </label>--> 
</form>
</div>   
  </ion-content> 
<div class="tabs">
  <a class="tab-item" href="#app/{{sport}}/Ligues/{{ligue}}/{{categorie}}">
    Liste {{categorie}}
  </a>
  <a class="tab-item" href="#app/{{sport}}/Ligues/{{ligue}}/{{categorie}}/details/{{id}}/update">
    Modifier
  </a>
  <a class="tab-item" ng-click="printDiv('tout')">
    Imprimer
  </a>
</div>
</ion-view>